<article class="post">
  <div class="title">
    <a>{{post.title}}</a>
    <br>
    <a class="datetime">posted at {{post.created_at}} by {{user.username}}</a>
    <br>
    <br>
    <span>{{post.post_content}}</span>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

<a>comments</a>
<br>
<br>
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}