<article class="post">
  <div>
    <a class="single-post-title" name="post-title">{{post.title}}</a>
    <br>
    <a class="datetime">posted on {{format_date post.created_at}} by {{user.username}}</a>
    <br>
    <br>
    <span class="post-content">{{post.post_content}}</span>
    {{!-- {{#if loggedIn}}
    <button id="edit-post">Edit Post</button>
    {{/if}} --}}
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

<h2>comments</h2>
<br>
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{!-- <script src="/javascript/edit-post.js"></script> --}}
{{/if}}